.idea/
.DS_Store
**/secret/
.Rproj.user
.Rhistory
.RData
.Ruserdata
graphdb-standalone-deploy/gdb/data/refine/workspace.json
graphdb-standalone-deploy/gdb/data/repositories/.DS_Store
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/.DS_Store
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/config.ttl
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/classes
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/classes.index
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/entities
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/entities-doc
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/entities.datatypes
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/entities.datatypes.strings
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/entities.hash
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/entities.index
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/history/filter-statements.txt
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/history/history
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/history/history.index
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/literals-index/dates
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/literals-index/dates.index
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/literals-index/last_precommit_id
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/literals-index/numerics
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/literals-index/numerics.index
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/lock
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/owlim.properties
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/pos
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/pos.index
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/post
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/post.index
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/predicates
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/predicates.index
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/predLists
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/predLists.index
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/pso
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/pso.index
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/psot
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/psot.index
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/rdfrank/state
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/rule.list
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/stack-6adf28ad
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/stack-6adf28ad-del
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/stack-6adf28ad-del1
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/stack-6adf28ad-del2
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/stack-6adf28ad-expl-restore
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/tr_predicates
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/tr_predicates.index
graphdb-standalone-deploy/gdb/data/repositories/iow-0_1/storage/utils/registry.list
graphdb-standalone-deploy/gdb/data/repositories/lock/locked
graphdb-standalone-deploy/gdb/data/repositories/lock/process
graphdb-standalone-deploy/gdb/work/.DS_Store
graphdb-standalone-deploy/gdb/work/runtime.properties
graphdb-standalone-deploy/gdb/work/tmp/.DS_Store
graphdb-standalone-deploy/gdb/work/tmp/graphdb14520649450917096749/.DS_Store
graphdb-standalone-deploy/gdb/work/tmp/graphdb14520649450917096749/work/.DS_Store
graphdb-standalone-deploy/gdb/work/tmp/graphdb14520649450917096749/work/Tomcat/.DS_Store
graphdb-standalone-deploy/gdb/work/tmp/graphdb14520649450917096749/work/Tomcat/localhost/.DS_Store
graphdb-standalone-deploy/gdb/work/tmp/graphdb2710812512740079067/.DS_Store
graphdb-standalone-deploy/gdb/work/tmp/graphdb2710812512740079067/work/.DS_Store
graphdb-standalone-deploy/gdb/work/tmp/graphdb2710812512740079067/work/Tomcat/.DS_Store
graphdb-standalone-deploy/gdb/work/tmp/graphdb2710812512740079067/work/Tomcat/localhost/.DS_Store
graphdb-standalone-deploy/gdb/work/workbench/settings.js
graphdb-standalone-deploy/gdb-import/statements.ttl
graphdb-standalone-deploy/Dockerfil
graphdb-standalone-deploy/gdb/data.zip
